*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
*.idea/
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
/lydia/proguard_logs/
/lydia/proguard-project.txt
!lydia_signed.apk
lydia/build/intermediates/dex-cache/cache.xml
lydia/lydia/src/release/res/values/keys.xml